@import './navbar.css';
@import './footer.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

p{
  margin-top: 0!important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 30vh;
 
}

.titulo {
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(78, 77, 77);
  text-decoration: none;
  text-align: center;
}

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 80vh;
 
} 
.nuestros-servicios{ 
  color: antiquewhite;
  font-size: 18px;
  max-width: 50%;
  text-align: center;
  margin: auto;
  
}

.opiniones{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: 40vh;
  justify-content: center;
  gap: 10rem;
  
}
.h1{
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary color--)

}
.opinion-head {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(78, 77, 77);
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
}

.servicio{ 
  color: antiquewhite;
  font-size: 18px;
  max-width: 50%;
  margin: auto;

}


.slider-caja {
  position: relative;
  overflow-x: scroll;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

.usuario{
  margin-top: 3rem;
  margin-bottom: 3cqh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fa-person-dress, .fa-person{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: bisque;
}

.caja-contenedor{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 300px;
  gap: 2rem;
  position: relative;
}

.caja{
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 900px;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  background-color:lightpink;
  position: relative;
}


.envoltorio{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}

#boton-atras, #boton-proximo{
  width: 50px;
  cursor: pointer;
  margin: 40px;

}

.comentario {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: small;
  font-style: normal;
  position: relative;

}