@import './navbar.css';
@import './footer.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

p{
  margin-top: 0!important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


.clima{
  display: grid;
  grid-template-rows: 25px;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  border: none;  
  padding: 5px;
  width: 35%;
}
/*
#btn-w {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px 20px;
  color: white;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bolder;
  transition: 0.5s ease;
}

#btn-w :hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 30vh;
 
}
/*presentamos nuestros servicios*/ 
.titulo {
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(78, 77, 77);
  text-decoration: none;
  text-align: center;
}

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 60vh;
  margin-bottom: 60px;
} 

.nosotros { 
  color: antiquewhite;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  max-width: 60%;
  text-align: center;
}

/*seccion de opiniones*/
.opiniones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  /*height: 60vh;*/
  margin-bottom: 60px;
}

.heading {
  
  max-width: 60%;
  /*text-transform: uppercase;*/
  color: rgb(78, 77, 77);
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-bottom: 60px;
}

.h1{
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(78, 77, 77);

  /*color: var(--primary color--)*/

}

.servicio{
  color: antiquewhite;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-align: center;
  margin-bottom: 30px;
  
}

/*boton para contacto*/
.header-btns a {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px 20px;
  color: white;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bolder;
  transition: 0.5s ease;
}

.header-btns a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/*seccion de comentarios enviados*/

/*flechas*/

/*.slide-button{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  outline: none;
  transform: translateY(50%);
}

.slide-button#atras{
  left: -10px;
}


.slide-button#adelante{
  right: -10px;
}

.slide-button :hover{
  background-color: rgba(235, 121, 174, 0.5)
} */

/*caja de opiniones*/

/*
.container{
  margin-top: 50px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(10, 1fr);
  width: 1200px;
  object-fit: cover;
  overflow-x: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar{
  display: none;
}


.caja-contenedor{
  padding: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: var(--white);
  border-radius: 1rem;
  cursor: pointer;
  
}*/



.container{
  padding-top: 40px;
  position: relative;
  height: auto;
  overflow: hidden;
}

.caja{
  padding: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  background-color:lightpink;
}

.container .caja-contenedor{
display: flex;
gap: 3rem;
animation: scroll 40s linear infinite;
-webkit-animation: scroll 40s linear infinite;
width: calc(400px * 10);
}

.container .caja{
  width: 400px;

}

.container .usuario{
  width: 100%;
}

@keyframes scroll{
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-400px * 5));
    transform: translateX(calc(-400px * 5));
  }
}

.comentario {
  
  font-weight: 100;
  font-size: small;
  font-style: normal;
}