* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.navbar-nb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 10vw;
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
  color: white;
}

.brand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: xx-large;
  font-weight: bolder;
  color: white; 
}

.brand-container span {
  color: gray;
}

.brand-container img {
  width: 100px;
  height: 100%;
}

.nav-links-nb{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar-nb a {
  display: block;
  padding: 15px 15px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition: 0.5s ease;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 80vh;
 
}

.titulo {
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(78, 77, 77);
  text-decoration: none;
  text-align: center;
}

.subTitle {
  color: antiquewhite;
  font-size: 20px;
  max-width: 50%;
  text-align: center;
}

.header-btns a{
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bolder;
  transition: 0.5s ease;
}

.header-btns a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

}




footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  height: 12vh;
}