@import url(<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<title>Ticket Track</title>);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 10vw;
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
  color: white;
}

.brand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: xx-large;
  font-weight: bolder;
  color: white; 
}

.brand-container span {
  color: gray;
}

.brand-container img {
  width: 100px;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  display: block;
  padding: 15px 15px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition: 0.5s ease;
}

nav a:hover {
  background: blueviolet;
  border-radius: 10%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 30vh;
 
}

.titulo {
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(78, 77, 77);
  text-decoration: none;
}

.nosotros{ 
  color: antiquewhite;
  font-size: 20px;
  max-width: 50%;
  text-align: center;

}
.grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 60vh;
   
}
.opiniones{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;

}

.heading {
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;;
}

.comentario {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}


.caja-contenedor{
  display: grid;
  gap: 2rem;
}

.caja{
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: whitesmoke;
}


footer {
  text-align: center;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}