*{
    margin: opx;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
    font-size: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 95%;
    background-color: black;
    position: fixed;
    z-index: 100;
    margin-right: 10px;
    margin-left: 10px;
    
}

.navbar a{
    display: block;
    padding: 15px 15px;
    color: darkgrey;
    text-decoration: none;
    font-weight: bolder;

}

nav a:hover{
    background: blueviolet;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.header{
    margin-top: 20px;
    height: 60vh !important;
    background: url(../assets/fondo.jpg) no-repeat center;
    background-size: cover;
}

.titulo {
    margin: 30px 30px 20px 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(78, 77, 77);
    text-decoration: none;
}


.fondo {
    color: antiquewhite;
    font-size: 18px;
    margin: 35px 35px 10px 10px;
}


.p {
    color: darkolivegreen;
    font-size: 18px;
    margin: 35px 35px 10px 10px;
}