@import './navbar.css';
@import './footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
}

p {
    margin: 0 !important;
}

hr {
    margin: 1rem 0 !important;
}

h2 {
    text-align: center;
    margin: 0 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.detail-section {
    display: flex;
    height: 100%;
    margin: 1rem;
    justify-content: center;
}

.detail-card {
    width: 90%;
    height: 70%;
    color: #fff;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.detail-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-card-header p {
    font-size: 1.2em;
}

.cajaAlineadoraCabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-card-body {
    font-size: 1.5rem;
}

.detail-card-body p {
    margin: 2rem 0 !important;
}

.detail-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;

}

.detail-card-footer p {
    font-size: 1.5em;
}

.detail-options {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: larger;
}

.detail-options a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 80%;
    text-align: center;
}

.detail-options a:hover {
    background: #321e52de;
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
    cursor: pointer;
    color: white;
}

.botonesAcciones {
    display: flex;
    justify-content: space-between;
}